.card {
    position: relative;
    margin: .5rem 0;
      margin-right: 0px;
      margin-left: 0px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.card-img{
    position: relative;
}

.card.card-img img{
    width: 100%;
    display: block;
  }

.card-content {
    padding: .75rem;
    flex-grow: 1;
}

.card-footer {
    padding: .75rem;
}