h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    margin: 1.25rem 0 .75rem;
}

h1,
.h1 {
    font-size: 2.75rem;
}

h2,
.h2 {
    font-size: 2.25rem;
}

h3,
.h3 {
    font-size: 2rem;
}

h4,
.h4 {
    font-size: 1.75rem;
}

h5,
.h5 {
    font-size: 1.50rem;
}

h6,
.h6 {
    font-size: 1.25rem;
}

.font-s3 {
    font-size: 1.25rem !important;
}

.txt-shadow-0 {
    text-shadow: none !important;
}

.txt-shadow-1 {
    text-shadow: 0 2px 5px var(--color-shadow);
}

.txt-shadow-2 {
    text-shadow: 2px 4px 3px var(--color-shadow);
}

.txt-shadow-3 {
    text-shadow: 0px 4px 3px var(--color-shadow);
}

.txt-shadow-4 {
    text-shadow: 6px 6px 0px var(--color-shadow);
}