.layout__spa {
    height: 100vh;
    overflow: hidden;
}

/* SPLIT SCREEN */

.layout-split-screen, .split-screen {
    display: flex;
}

.split-screen__half {
    flex: 1;
}

/* SIDEBAR */

/*Show sidebar file*/

/* Sticky footer */

.sticky-footer {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.sticky-footer__header,
.sticky-footer__footer {
    flex-shrink: 0;
}

.sticky-footer__main {
    flex-grow: 1;
}
