/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Alignement ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* Horizontal alignement*/

.center {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.centering {
    align-items: center;
    display: flex;
    justify-content: center;
}

.right {
    float: right;
}
.left {
    float: left;
}

.right-0 {
    right: 0;
}
.right-1 {
    right: 2%;
}
.right-2 {
    right: 4%;
}
.right-3 {
    right: 6%;
}
.right-4 {
    right: 8%;
}
.right-5 {
    right: 10%;
}

.left-0 {
    left: 0;
}
.left-1 {
    left: 2%;
}
.left-2 {
    left: 4%;
}
.left-3 {
    left: 6%;
}
.left-4 {
    left: 8%;
}
.left-5 {
    left: 10%;
}

.bottom-0 {
    bottom: 0;
}
.bottom-1 {
    bottom: 2%;
}
.bottom-2 {
    bottom: 4%;
}
.bottom-3 {
    bottom: 6%;
}
.bottom-4 {
    bottom: 8%;
}
.bottom-5 {
    bottom: 10%;
}

.top-0 {
    top: 0;
}
.top-1 {
    top: 2%;
}
.top-2 {
    top: 4%;
}
.top-3 {
    top: 6%;
}
.top-4 {
    top: 8%;
}
.top-5 {
    top: 10%;
}

/* Vertical alignement*/
/* Both*/
.v-center {
    display: grid;
    place-items: center;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Text ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.txt-center {
    text-align: center;
}

.txt-left {
    text-align: left;
}

.txt-right {
    text-align: right;
}